@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

 html{
  font-size:10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  color: #212121;
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}

.member {
  background-color: pink;
}



/* 겹침 Cascading */
/* 우선순위 규칙 */
/* li (Type Selector) - 1점 */
/* .first (Class Selector) - 10점 */
/* #item (ID Selector) - 100점 */

/* .member -> 10점, li -> 1점, ::before -> 1점  => 12점  */
/* .member li::before {
  content: ":";
} */
/* .member -> 10점, .first -> 10점, ::before -> 1점  => 21점  */
/* .member .first::before {
  content: "첫번째 자식요소를 생성합니다.";
} */
/* .member li:first-child::before {
  content: "";
} */
/*  
.member li:nth-child(n + 2)::before {
  content: ":";
  background-color: skyblue;
}

.member li:nth-child(n + 2):nth-child(-n + 4) {
  background-color: yellow;
}
*/




/* 비주얼 */
.visual {
  height: 120px;
}
/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px; 
}

.group {
  float: left;
  margin: 0 15px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}


.gradient-effect{
  border: 1px solid #aaa;
  border-radius:5px;
  padding:10px;
  background: #ccc linear-gradient(to bottom, #ccc , #eee );

}


.text-xl{
  font-size:1.5rem;
  font-weight: 700;
}

.accent-color{
  color:#a52a2a;
}


.margin-top-default{
  margin-top:30px;
}


.event{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}


.event-button-wrapper{
  /* background-color: yellow; */
  /* overflow: hidden;   */
  /* height: 24px; */
  /* padding: 2px;  */
  display: flex;
  flex-flow:row nowrap;
  align-items: flex-start; 
  gap:5px; 
  /* flex-flow, align-item, gap은 flex가없으면 의미없는 친구들 */
}

.event-button{
  background: url(./images/back_forward.png) no-repeat;
  border: 0;
  /* padding: 18px 0 0 0; */
  width: 20px;
  height: 20px;
  text-indent: -9999px;
    
  /* indent는 block에게 줄 수있는데, button은 inline-block이라 줄 수 있다 */
  /*  */
}

.event-button-next{
  /* transform: translateX(20px); */
  background-position: 100% 0;
}




.event-thumbnail, .event-brief{
  margin: 10px 0;
}

.event-thumbnail img{
  border:1px solid aaa;
  box-shadow: 5px 5px 0 0 #ccc;
}



/* 인기사이트 */
.favorite {
  }






/* 슬로건 */
.slogan {
  background: skyblue;
  clear: both;
}
/* 푸터 */
.footer {
  background: gray;
}
.footer-inner {
  background: silver;
}